.rc-dialog {
    font-size: 14px;

    .bin-dialog-warp {
        --z-index: 999;

        position: fixed;
        inset: 0;
        z-index: var(--z-index);
        overflow: auto;
        pointer-events: none;

        .bin-dialog {
            --animation-duration: 0.3s;

            position: relative;
            top: 100px;
            width: auto;
            max-width: calc(100vw - 32px);
            padding: 0;
            padding-bottom: 24px;
            margin: 8px auto;
            pointer-events: all;
            transform: scale(1);
            opacity: 1;
            transition-property: transform, opacity;
            transition-duration: var(--animation-duration);

            .bin-dialog-content {
                position: relative;
                padding: 20px 24px;
                border: 0;
                border-radius: 8px;
                box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
                background-color: #ffffff;
                
                .bin-dialog-header {
                    margin-bottom: 12px;
                    font-size: 16px;
                    font-weight: 600;
                }
                .bin-dialog-body {
                    font-size: inherit;
                    line-height: 22px;
                }
                .bin-dialog-footer {
                    text-align: end;
                    margin-top: 12px;
                }
                .bin-dialog-close {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    border-radius: 4px;
                    background: transparent;
                    color: #666;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }

        .bin-dialog-hidden {
            transform: scale(0);
            opacity: 0;
            pointer-events: none;
        }
    }
}