/* ================= flex ================= */

.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.flex-none {
    flex: none;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

/* ============== flex 常用组合 ============== */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ================= justify ================= */

.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

/* ================= align ================= */

.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}
.items-stretch {
    align-items: stretch;
}

/* ================= text ================= */

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* ================= font ================= */

.font-normal {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: bold;
}

/* ================= width ================= */

.w-full {
    width: 100%;
}

/* ================= height ================= */

.h-full {
    height: 100%;
}

/* ================= overflow ================= */

.overflow-hidden {
    overflow: hidden;
}
.overflow-auto {
    overflow: auto;
}

/* ================= cursor ================= */

.cursor-default {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
