/* Light Theme Tokens */
:root {
    color-scheme: light;

    --font-size-base: 16px;                                /* PC端字体大小 */
    --theme-transition-duration: 0.2s;                     /* 主题动画切换过渡时长 */
    --bg-image: url('@/assets/images/bg.webp');            /* 背景图片 */

    --color-primary: #1677ff;                            /* 主题色 */
    --color-primary-hover: #4096ff;                      /* 鼠标滑过主题色 */
    --text-primary: rgba(0, 0, 0, 0.88);                 /* 主题色文字颜色 */
    --text-inverse: rgba(255, 255, 255, 0.96);           /* 反色文字颜色 */

    --bg-html: rgba(255, 255, 255, 0.96);                /* html 背景色 */
    --bg-layout: rgba(245, 245, 245, 0.45);              /* 页面布局背景色 */
    --bg-container: rgba(255, 255, 255, 0.65);           /* 容器背景色 */

    --item-hover: rgba(255, 255, 255, 0.3);              /* 列表项 hover 背景色 */
    --item-container-hover: rgba(0, 0, 0, 0.08);         /* 容器背景色下的 hover 背景色 */
    --item-active: rgba(22, 119, 255, 0.1);              /* 列表项 active 背景色 */

    --border-default: rgba(0, 0, 0, 0.15);               /* 边框颜色 */
    --border-light: rgba(0, 0, 0, 0.04);                 /* 边框颜色（浅色） */

    --fill-default: rgba(0, 0, 0, 0.06);                 /* 填充色 */

    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(126, 107, 107, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-glass: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}
