.bin-modal-confirm-body-wrapper {
    font-size: 14px;

    .bin-modal-confirm-body-has-title {
        display: flex;
        flex-wrap: nowrap;
        align-items: start;

        .bin-modal-anticon-info-circle {
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            margin-right: 12px;
            color: #fff;
        }
        .bin-modal-confirm-paragraph {
            flex: auto;
            row-gap: 8px;
            max-width: calc(100% - 34px);

            .bin-modal-confirm-title {
                margin-bottom: 12px;
                font-size: 16px;
                font-weight: 600;
            }
            .bin-modal-confirm-content {
                font-size: inherit;
                line-height: 22px;
            }
        }
    }

    .bin-modal-confirm-btns {
        text-align: end;
        margin-top: 12px;
    }
}