.css-motion {
    width: 100%;

    .motion-children {
        width: 100%;
        max-width: 500px;
        height: 150px;
        border-radius: 8px;
        background-color: aqua;
    }

    /* ========== appear（首次渲染） ========== */
    .fade-appear,
    .fade-enter {
        opacity: 0;
        transform: scale(0);
    }

    .fade-appear-prepare,
    .fade-enter-prepare {
        // 重置缩放比例以避免 mousePosition bug
        transform: none;
        opacity: 0;
        user-select: none;
    }

    .fade-appear-active,
    .fade-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 500ms ease, transform 500ms ease;
    }

    .fade-leave {
        opacity: 1;
        transform: scale(1);
    }
    .fade-leave-active {
        opacity: 0;
        transform: scale(0);
        transition: opacity 500ms ease, transform 500ms ease;
    }
}
